.popup-close:link, .popup-close:visited {
    color: darkslategrey;
    position: absolute;
    top: 0;
    right: 2.5rem;
    font-size: 5rem;
    text-decoration: none;
    display: inline-block;
    transition: all .5s;
}

.popup-close:hover {
    color: cornflowerblue;
}
.react-confirm-alert-body{
    font-size:150%;
}
.react-confirm-alert-button-group button{
    font-size:150%;
}
.tableCellImg{
    width:100px;
    height: 100px;
}