.genericBlock {
    background-color: #fff;
    width: 70%;
    margin: 2rem auto 2rem auto;
    box-shadow: inset 0 0 10px #000000;
    border-radius: 10px;
    padding: 1rem;
    word-break: break-word;
}
.genericBlock h1 {
    font-weight:800;
}
.genericBlock h2 {
    font-weight: 700;
}
.genericBlock h3 {
    font-size:140%;
}
.genericBlockContent{
    text-align:left;
}
/*.genericBlockContent p, li {
    font-size:120%;
    font-family: Verdana;
    font-weight:400;
}*/