.blog {

}
.blog h4, h5 {
    text-align:center;
}
.blog h4 {
    font-weight:bold;
}
.blogImg {
    width: 150px;
    height: 150px;
    transition: ease-in-out 1s;
}
.blogImg:hover {
    transform: scale(3);
    transform-origin: left bottom;
}